/////////////////////////////////////////////////////
// 채팅 서버 Config
/////////////////////////////////////////////////////

:NETWORK
{
	//-----------------------------------
	// 본 서버군 이름 / ServerLink 정보의 이름과 같아야 함
	//-----------------------------------
	SERVER_NAME = "KBM_CHAT"

	//-----------------------------------
	// 채팅서버 Listen IP/PORT
	//
	// 이는 서버에서 클라이언트 접속용 Listen 소켓 Bind
	//-----------------------------------
	BIND_IP = "127.0.0.1"
	BIND_PORT = 50000

	//-----------------------------------
	// 로그인서버 연결 IP/PORT
	//-----------------------------------
	LOGIN_SERVER_IP = "127.0.0.1"
	LOGIN_SERVER_PORT = 8091

	LOGIN_LAN_SERVER_IP = "127.0.0.1"
	LOGIN_LAN_SERVER_PORT = 8090

	//-----------------------------------
	// 모니터링 서버 연결 IP/PORT
	//-----------------------------------
	MONITORING_SERVER_IP = "127.0.0.1"
	MONITORING_SERVER_PORT = 20150

	//-----------------------------------
	// IOCP 워커스레드 개수
	//-----------------------------------
	WORKER_THREAD = 10
}

:SYSTEM
{
	//-----------------------------------
	// 최대사용자
	//-----------------------------------
	CLIENT_MAX 	= 20000

	//-----------------------------------
	// Packet Encode Key
	//-----------------------------------
	PACKET_CODE	= 119
	PACKET_KEY1	= 50
	PACKET_KEY2	= 132
}
