/////////////////////////////////////////////////////
// 모니터링 서버 Config
/////////////////////////////////////////////////////

:NETWORK
{
	//-----------------------------------
	// 본 서버군 이름 / ServerLink 정보의 이름과 같아야 함
	//-----------------------------------
	SERVER_NAME = "KBM_MONITOR"

	//-----------------------------------
	// 모니터링서버 Listen IP/PORT
	//
	// 이는 서버에서 클라이언트 접속용 Listen 소켓 Bind
	//-----------------------------------
	BIND_IP = "127.0.0.1"
	//BIND_IP = "192.168.10.122"
	BIND_PORT = 12212

	LAN_BIND_IP = "127.0.0.1"
	LAN_BIND_PORT = 20150
}

:SYSTEM
{
	//-----------------------------------
	// 모니터링서버 로그인 키
	//-----------------------------------
	LOGIN_KEY	= "P09djiwl34jWJV%@oW@#o0d82jvk#cjz"


	//-----------------------------------
	// Packet Encode Key
	//-----------------------------------
	PACKET_CODE	= 109
	PACKET_KEY1	= 30
	PACKET_KEY2	= 91

	AUTO_CONNECT	= 1

	//-----------------------------------
	// DB
	//-----------------------------------
	DB_IP		= "127.0.0.1"
	DB_ACCOUNT	= "kbm0996"
	DB_PORT		= 6990
	DB_PASS		= "gfsad1234"
	DB_NAME		= "status_server"
}
